<div class="center jumbotron">
        <% if logged_in? %>
          <h1>Contents</h1><br>
          <h2>
            <li><%= link_to "Book List", list_path %></li><br><br>
            <li><%= link_to "Add New Book", new_path %></li>
          </h2>
        <% else %>
          <h1>Welcome to MM's Book App</h1>

          <h2>
            読みたい本・読んだ本など徒然なるままに
          </h2>
          <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        <% end %>
</div>
